body {
    font-family: Kdam Thmor Pro;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    font-family: Kdam Thmor Pro;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 40px;
}

.weather-container {
    background-color: #dff;
    width: 375px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}


.header-icon {
    width: 32px;
    height: 32px;
}

h2 {
    margin: 10px 0;
    font-size: 18px;
}

.ai-summary {
    background: white;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    border: 2px black;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px 0;
}

.info-box {
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box span {
    font-size: 14px;
}

.red {
    background-color: #ffe6e6;
    color: red;
    border: 2px solid red;
}

.blue {
    background-color: #e6f0ff;
    color: blue;
    border: 2px solid blue;
}

.purple {
    background-color: #f0e6ff;
    color: purple;
    border: 2px solid purple;
}

.orange {
    background-color: #ffe6cc;
    color: orange;
    border: 2px solid orange;
}

.map-section {
    margin-top: 15px;
}

.map-section h3 {
    background-color: #ff6666;
    color: white;
    padding: 5px;
}

.map-section img {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.footer-icon {
    width: 32px;
    height: 32px;
}

.subpage-container {
    background-color: #dff;
    width: 375px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}